extends layout

block content
  main
  div.container-fluid
    div.row.mx-5.mb-5
      -if(result){
      -for( const data of result ){
        div.col-md-6.col-lg-4
          div.card
            img.card-img-top(src=data.image alt=data.title)
            div.card-body
              h5(class="card-title" id=data.id)=data.title
              p(class="card-text")=data.description
              p=data.price
              -if(loggedIn && (data.addedBy== username || isAdmin)){
              
              a(href="#" id=`edit${data.id}` class="btn btn-primary" class="edit-button") Edit
              a(href="#" class="btn btn-primary bg-light" id=`delete${data.id}` style="color:blue; margin-left:5px;" class="delete-button") Delete

              -}
      -}
      -}
  div.modal
    div.alert-content
      form(action='/updatemovies' method='post')
          div.mb-3
          label.form-label(for="title") Title
          input.form-control(type="text" id="titleinput" name='title' disabled)
          div.mb-3
          label.form-label(for="description") Description
          input.form-control(type="text" name='description')
          div.mb-3
          label.form-label(for="image") Image Url
          input.form-control(type="text" name='image')
          div.mb-3
          label.form-label(for="price") Price
          input.form-control(type="text" name='price')
          button.btn.btn-primary.mt-3(type="submit") Update 
  .pagination
    -if(noOfPages<2){
      a(href="/?pageNum=0") &laquo;
    -}
    -for(let i = 0; i<noOfPages; i++){
      -if(i==pageNum){
        a( href=`/?pageNum=${i}` class="active")=i+1
      -}
      -else{
        a( href=`/?pageNum=${i}`)=i+1
      -}
    -}
    -if(noOfPages<2){
      a( href=`/?pageNum=${noOfPages-1}`) &raquo;
    -}

  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous")
  script(src="/activeLink")